.container {
  padding: 15px 0;
  -webkit-perspective: 700;
  transform: translate3d(0px, 0px, 0px);
}

.card {
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transition: all 500ms ease;
  padding-bottom: 150%;
  height: 0;
}

.card.opened {
  transform: rotateY(180deg);
}

.matched .back {
  background-color: #6DE299;
}

.front, .back {
  border-radius: 10px;
}

.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #def;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0px, 0px, -1px) rotateY(180deg);
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #fed;
}

.content {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  padding-top: 26px;
}
