@font-face {
    font-family: "HeliosCond";
    src: url("/fonts/HeliosCondRegular/HeliosCondRegular.eot");
    src: url("/fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"),
    url("/fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HeliosCondBold"; */
@font-face {
    font-family: "HeliosCond";
    src: url("/fonts/HeliosCondBold/HeliosCondBold.eot");
    src: url("/fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
    url("/fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
    url("/fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Static';
    src: url('/fonts/Static/static-webfont.eot');
    src: url('/fonts/Static/static-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Static/static-webfont.woff2') format('woff2'),
         url('/fonts/Static/static-webfont.woff') format('woff'),
         url('/fonts/Static/static-webfont.ttf') format('truetype'),
         url('/fonts/Static/static-webfont.svg#staticregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//
// Variables
//

$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$red: #ae0101;
$red2: #b80808;
$white: #fbfbfb;


// TODO: change grid to 75ems

html, body {
  height: 100%;
}

body {
  position: relative;
}

* {
  font-family: 'HeliosCond', sans-serif;
  letter-spacing: 0.2px;
}

h1 {
  font-family: 'HeliosCond', sans-serif;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  font-family: 'HeliosCond', sans-serif;
  font-weight: bold;
  color: #8a8a8a;
  font-size: 40px;
  @media only screen and (max-width: 500px) {
    font-size: 30px;
  }
}



h3 {
  font-family: 'HeliosCond', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.4px;
}

p {
  font-family: 'HeliosCond', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: 0.2px;
}

.caps {
  text-transform: uppercase;
}

.logo {
  //background: url('/images/logo.png') no-repeat center center;
  //background-size: contain;
  //padding-bottom: 7.63%;
}

.backgroundcliptext .textured {
  color: #000;
  /*background: url('/images/text-background.jpg');
  background-size: 500px;
  // background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  text-fill-color: transparent;
	-webkit-background-clip: text;
	-o-background-clip: text;
	background-clip: text;*/
}

@mixin hover-scale {
  transform: scale(1, 1);
  transition: transition 200ms ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

@mixin hover-opacity {
  opacity: 1;
  transition: opacity 200ms ease;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}


// Test

.fullscreen, .container, .cover-video {
  //height: 100%;
  width: 100%;
}

.fullscreen {
  position: relative;
  z-index: 101;
  /*.container {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: $white;
    }
  }*/
}

.cover-video {
  position: relative;
  overflow: hidden;


  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  background: url('/images/elements/banner-3.jpg') no-repeat center top;
  background-size: cover;

  //background: url('/images/elements/main-banner.jpg') no-repeat center 100px;
  //background-size: cover;

  //background: url('/images/gift-poster.jpg') no-repeat center center;


  //background: url('/images/elements/main-banner.jpg') no-repeat 25% 100px;
  /*@media (min-width: $screen-md-min) {
    background: url('/images/elements/banner.jpg') no-repeat 25% 140px;
    background-size: cover;
  }*/

  /*&:after {
    content: '';
    position: absolute;
    background: url('/images/elements/new-season.png') no-repeat top center;
    top: 89px;
    right: 50%;
    transform: translateX(60%);
    background-size: contain;

    width: 846px * 0.5;
    height: 548px * 0.5;
    @media (min-width: 390px) {
      width: 846px * 0.75;
      height: 548px * 0.75;
    }

    @media (min-width: $screen-sm-min) {
      width: 846px;
      height: 548px;
    }

    @media (min-width: $screen-sm-min) {
      width: 846px;
      height: 548px;
      right: 0;
      transform: translateY(0%);
    }
    @media (min-width: $screen-md-min) {
      top: 139px;
    }

    @media (max-height: 525px) {

    }

  }*/
}

/*.cover-video:after {
  width: 100%;
  height: 100%;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  z-index: 0;
  content: '';
  display: block;
  opacity: .5;
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFAQMAAAC3obSmAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAA1JREFUCNdjAAEFEAEAAKoAIZJ5LGkAAAAASUVORK5CYII=');
  // background-color: rgba(0,0,0,.5);
}*/

/*video {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  backface-visibility: hidden;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  // z-index: 100;
  pointer-events: none;
}*/

.fullscreen {
  position: relative;
  //background-color: #034839;
  background-color: #fff;
  header {
    position: absolute;
    top: 0;
    left: 0;
    //background: #fff;
    overflow: hidden;

    height: 18.25%;

    /*height: 100px;
    padding: 25px 0;
    @media (min-width: $screen-md-min) {
      height: 140px;
      padding: 50px 0;
    }*/

    .row {

      position: relative;
      z-index: 2;
      height: 100%;
      display: table;
    }

    .columns {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }

    /*&:before {
      content: '';
      position: absolute;
      width: 433px;
      height: 66px;
      background: url('/images/elements/header-left.png') no-repeat center center;
      left: 0;
      top: 0;
    }

    &:after {
      content: '';
      position: absolute;
      width: 305px;
      height: 140px;
      background: url('/images/elements/header-right.png') no-repeat center top;
      top: 0;
      right: 0;
      z-index: 1;
    }*/

    .logo {
      //background: url('/images/elements/logo.png') no-repeat center center;
      //background-size: contain;
      //padding-bottom: 14%;
    }

    .nav {
      background: url('/images/menu.png') no-repeat center center;
      background-size: contain;

      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 20px;
    }

    .gotostore {

      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 20px;
    }

    .store {
      color: #000;
    }

    .store:before {

      background: url('/images/elements/store-black.png') no-repeat center center;
      background-size: contain;
    }

    /*.gotolookbook {
      font-size: 14px;
      font-weight: 700;
      opacity: 1;
      transition: opacity .2s ease;
      cursor: pointer;
      color: #fff;
      display: inline-block;
      position: relative;
      &:hover {
        opacity: .7;
      }
      &:before {
        content: ' ';
        width: 21px;
        height: 21px;
        background: url('/images/store-white.png') center center no-repeat;
        background-size: contain;
        left: -25px;
        position: absolute;
        top: -2px;
      }
    }*/


  }
  .want-gift {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    bottom: 40px;
    display: none;
    @media (min-width: 890px) {
      display: block;
    }
  }

  .want-gift {

    .columns {

      // background-color: rgba(0,0,0,0.7);
      color: #fff;


    }

    @keyframes waves {
      0%   { transform: translateY(0px); }
      50%   { transform: translateY(5px); }
      100% { transform: translateY(0px); }
    }

    .answer {
      font-size: 24px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .question {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .answer:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('/images/arrow-down.png') no-repeat center center;
      background-size: contain;
      margin-right: 10px;
      position: relative;
      top: -3px;
      animation: waves 1s infinite;
    }
  }
}

#main-content {
  box-shadow: 0 0 200px #000;
  position: relative;
  margin-top: 0 !important;
}


// Test


section#how-to-play {
  position: fixed;
  z-index: 120;
  width: 45%;
  height: 100%;
  background: $white;
  top: 0;
  right: -45%;
  transition: right 300ms ease;
  padding: 70px 2%;
  border-left: 3px solid #000;

  a {
    color: $red2 !important;
  }

  @media only screen and (max-height: 750px) {
    overflow-y: scroll;
  }

  @media only screen and (max-width: 1014px) {
    width: 80%;
    right: -80%;
  }

  @media only screen and (max-width: 700px) {
    width: 100%;
    right: -100%;
  }

  &.active {
    right: 0px;
  }

  h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
  }

  ol {
    counter-reset: item;
    list-style-type: none;
  }

  li {
    display: block;
    position: relative;
  }

  li:before {
    font-family: 'Static';
    font-size: 20px;
    position: absolute;
    top: 4px;
    left: -22px;
    content: counter(item);
    counter-increment: item ;
    //color: #c985a9;
    color: $red2;
  }

  li, p {
    font-size: 15px;
    color: #000;
    line-height: 1.3em;
  }

  li {
    margin-bottom: 15px;
  }


  a {
    //color: #c985a9;
    color: #000;
    text-decoration: underline;
    opacity: 1;
    transition: opacity 300ms ease;
    &:hover { opacity: 0.5; }
  }

  .frame {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 5px solid #000;
    border-left: 5px solid #000;

    padding: 20px;
  }

  .caption {
    font-weight: bold;
    font-size: 15px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: color 300ms ease;
    cursor: pointer;
    &:hover {
      //opacity: 0.95;
      color: #ccc;
      //color: #c985a9;
    }
  }

  .btn-small {
    font-size: 13px;
    //color: #c985a9;
    color: #000;
    opacity: 1;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;
    transition: opacity 300ms ease;
    &:hover {
      opacity: 0.7;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      top: 10px;
      margin-right: 9px;
      position: relative;
      background: url('/images/elements/close-btn.png') no-repeat center center;
      background-size: contain;
    }
  }
}


section#menu {
  position: fixed;
  z-index: 105;
  width: 300px;
  height: 100%;
  background: #fbfbfb;
  top: 0;
  left: -300px;
  transition: left 300ms ease;

  @media only screen and (max-height: 750px) {
    overflow-y: scroll;
  }


  .row, .columns {
    height: 100%;
    min-height: 780px;
  }

  &.active {
    left: 0px;
  }

  a {
    @include hover-opacity;
    display: block;
    font-size: 20px;
    color: #000;
    margin: 40px 0;
    font-weight: bold;
  }

  .mask {
    margin: 40px auto;
    width: 50px;
    height: 50px;
    background: url('/images/mask.png') no-repeat center center;
    background-size: contain;
  }

  .arrow {
    @include hover-scale;
    margin: 80px auto;
    width: 20px;
    height: 20px;
    background: url('/images/elements/menu-arrow-red.png') no-repeat center center;
    background-size: contain;
  }

  .to-store {
    position: absolute;
    bottom: 100px;
    background-color: #fff !important;
    width: 100%;
    left: 0;
    a {
      //margin: 20px 0;
      margin: 0;

      &:hover {
        opacity: .7;
        color: #000;
      }
    }
  }

  .btn {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 5px solid #000;
    border-left: 5px solid #000;

    background-color: #fff;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding: 18px 10px;
    font-size: 15px;
    color: #000;
  }

  .caption {
    color: #fff;
    font-size: 15px;
    text-transform: none;
  }

}



header {

  width: 100%;

  @media (min-width: $screen-sm-min) {
  }

  //@media only screen and (max-width: 1014px) {
  //  padding-top: 25px;
  //}

  .nav {
    width: 20px;
    height: 20px;
    background: url('/images/menu.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    //@include hover-scale;
  }

  .store {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #999999;
    @include hover-opacity;
    @media only screen and (max-width: 1014px) {
      //margin-bottom: 30px;
    }
  }

  .store:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url('/images/elements/store-black.png') no-repeat center center;
    background-size: contain;
    margin-right: 6px;
    position: relative;
    top: 4px;
  }
}

// Cover

section#cover {

  .title {
    margin-bottom: 30px;
    text-align: center;

    h1 {
      color: #8a8a8a;
      @media only screen and (max-width: 700px) {
        font-size: 45px;
      }

      @media only screen and (max-width: 400px) {
        font-size: 35px;
      }

    }

  }


  .cover-wrapper {
    position: relative;
  }

  .cover-image {
    height: 500px;
    // padding-bottom: 42%;
    background: url('/images/cover.gif') no-repeat center center;
    background-size: cover;
  }

  .play {
    width: 100%;
    position: absolute;
    z-index: 1;

    .columns {
      height: 50px;
      background-color: #fff;
      line-height: 50px;
    }
  }

  .want-gift {
    width: 100%;
    position: absolute;
    bottom: 0;

    .columns {
      height: 50px;
      background-color: #c985a9;
      color: #fff;
      font-weight: bold;
      line-height: 50px;
    }

    @keyframes waves {
      0%   { transform: translateY(0px); }
      50%   { transform: translateY(5px); }
      100% { transform: translateY(0px); }
    }

    .caps {
      cursor: pointer;
    }

    .caps:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('/images/arrow-down.png') no-repeat center center;
      background-size: contain;
      margin-right: 10px;
      position: relative;
      top: 0px;
      animation: waves 1s infinite;
    }
  }
}

// Black background for main section

section#main-content {
  margin-top: 60px;
  padding-bottom: 80px;
  background: url('/images/elements/bg.jpg') repeat-x center top;
  background-size: cover;


  /*&:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #999;
    background: url('/images/elements/main-bottom.png') no-repeat center bottom;
    background-size: contain;
  }*/

  &:after {
    content: '';
    position: absolute;
    background: url('/images/elements/main-top.png') no-repeat top right;
    right: 0;
    top: 0px;
    width: 1500px;
    height: 84px;
  }
}

// Rules component

section#rules {

  h2 {
    margin-top: 80px;
  }

  .container {
    margin: 50px 0;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 5px solid #000;
    border-left: 5px solid #000;

    color: #fff;
  }

  .how-to-before {
    max-width: 95%;
    display: inline-block;
    color: #000;
    background-color: #fff;
    //color: #d6d6d6;
    //background-color: #0D0D0D;
    position: relative;
    top: -0.8em;
    padding: 0 5px;
    border: 3px;
    //font-size: 15px;
    font-size: 18px;
  }

  .how-to-after {
    max-width: 95%;
    display: inline-block;
    color: #000;
    background-color: #fff;
    //color: #d6d6d6;
    //background-color: #0D0D0D;
    position: relative;
    bottom: -0.8em;
    padding: 0 5px;
    border: 3px;
    font-size: 18px;
  }

  .steps {
    display: inline-block;
    text-align: left;
    margin: auto;

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  .steps:after {
    content: '';
    display: block;
  }

  .step {
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .number {
    font-family: 'Static';
    //color: #c985a9;
    color: $red2;
    font-size: 36px;
    vertical-align: middle;
    margin-right: 18px;

    @media only screen and (max-width: 600px) {
      display: block;
      margin-bottom: 20px;
    }
  }

  .item {
    display: inline-block;
    color: #000;
  }

  .pdf-link a {
    color: #c985a9;
    font-weight: bold;
    font-size: 15px;
    &:hover {
      opacity: 0.8;
    }
  }
}



// Game section

.no-preserve3d section#game .game .card.opened {

  transform: rotateY(0);

  .front {
    display: none;
  }

  .back {
    backface-visibility: visible;
  }

}

section#game {

  margin: 50px 0 80px 0;

  .game {
    //background-color: #111;
    position: relative;
    height: auto;
    overflow: hidden;
    //padding: 10px 40px 50px;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;

    transition: all 600ms ease;
    width: 100%;
  }

  @keyframes fadeInOut {
    0%   { color: rgba(255, 255, 255, 0); }
    50%   { color: rgba(255, 255, 255, 255); }
    100% { color: rgba(255, 255, 255, 0); }
  }

  .help {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
    animation: waves 1s infinite;
    opacity: 0;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      left: 0;
      top: 23px;
      width: 100%;
      z-index: 1;
    }
  }

  #cards-placeholder {
    margin-top: 25px;
  }

  .info {
    margin-bottom: 3px;
  }

  .discount {
    display: inline-block;
  }

  .discount:after {
    content: '';
    display: block;
    margin-top: -85px;
    width: 160px;
    height: 80px;
    background: url('/images/flowers.png') no-repeat center center;
    background-size: contain;
  }

  .caption {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
  }

  .game-discount {
    font-family: 'Static';
    color: #c985a9;
    font-size: 60px;
    line-height: 1em;
    margin-top: 3px;
  }

  .game-matches {
    font-family: 'Static';
    color: #c985a9;
    font-size: 40px;
    line-height: 1em;
    margin-top: 3px;
  }

  .game-time {
    font-family: 'Static';
    color: #c985a9;
    font-size: 40px;
    line-height: 1em;
    margin-top: 3px;
  }

  .play-button-wrapper {
    position: absolute;
    top: 48%;
    left: 0%;
    width: 100%;
    text-align: center;
  }

  #game-play-button {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 36px*1.5;
    font-weight: 600;
    padding: 0 15px;
    text-align: center;
    letter-spacing: 1.5px;
    outline: 0;
    height: 36px*1.5;
    vertical-align: top;
    text-transform: uppercase;
    //background-color: #333;
    background-color: $red2;
    display: inline-block;
    color: $white;

    &:hover {
      opacity: 0.9;
      //color: #ccc;
    }

    /*font-size: 30px;
    font-weight: bold;
    color: #fff;
    box-shadow: #c985a9 0 0 40px;
    transition: box-shadow 300ms ease;
    background-color: #c985a9;
    padding: 6px 50px 20px 41px;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      top: 15px;
      margin-right: 9px;
      position: relative;
      background: url('/images/play-cards.png') no-repeat center center;
      background-size: contain;
    }*/
  }

  #game-play-button:hover {
    //box-shadow: #c985a9 0 0 80px;
    opacity: 0.9;
  }

  .column, .columns {
    padding: 3px !important;
  }

  .container {
    perspective: 700px;
    transform: translate3d(0px, 0px, 0px);
  }

  .card {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all 500ms ease;
    padding-bottom: 137%;
    height: 0;
    border-radius: 10px;
    box-shadow: #000 0px 10px 20px;
    @media only screen and (max-width: 500px) {
      border-radius: 3px;
    }
  }

  .card.opened {
    transform: rotateY(180deg);
    .front {
      display: none;
    }
  }

  .card.fade.out {
    transform: rotateY(180deg);
    opacity: 0;
  }

  .card.matched {
    opacity: 0.1;
  }

  .matched .back {
    background-color: #6DE299;
  }

  .front, .back {
    border-radius: 10px;
    @media only screen and (max-width: 800px) {
      border-radius: 3px;
    }
  }

  .front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background: #000 url('/images/elements/card-front.jpg') no-repeat center center;
    background-size: cover;
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0px, 0px, -1px) rotateY(180deg);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background: #000 url('/images/elements/card-front.jpg') no-repeat center center;
    background-size: cover;
    border: 10px solid #fff;
    @media only screen and (max-width: 800px) {
      border: 4px solid #fff;
    }
  }

  .content {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 26px;
  }

  #game-info {
    cursor: pointer;
    color: #000;


    @media (min-width: $screen-sm-min) {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      top: 10px;
      margin-right: 9px;
      position: relative;
      background: url('/images/elements/info.png') no-repeat center center;
      background-size: contain;
    }
  }

  #game-main-screen {
    padding: 10px 40px 50px;
  }

  // ******************************************
  // Prediction screen
  // ******************************************

  #game-prediction-screen {
    display: none;
    //position: absolute;
    //bottom: 100%;
    //left: 0;
    width: 100%;
    // height: 100%;
    background-color: #fff;
    //~transition: all 600ms ease;
    opacity: 0;
    z-index: 3;

    &.active {
      display: block;
      //bottom: 0;
      //top: 0;
      opacity: 1;
    }

    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 50px 40px;
    }

    .time {
      .caption, .game-time {
        color: #a0a0a0;
      }
    }

    .matches {
      .caption, .game-matches {
        color: #a0a0a0;
      }
    }

    .discount {
      .game-discount, .caption {
        color: #000;
      }
    }

    .title {
      //margin: 30px 0 15px 0;
      margin: 0px 0 12.5px 0;

      h2 {
        color: #000;

        @media only screen and (max-width: 400px) {
          font-size: 24px;
        }
      }
    }

    .prediction {
      //border-top: 1px solid #000;
      //border-bottom: 1px solid #000;
      //border-right: 5px solid #000;
      //border-left: 5px solid #000;

      .columns {
        @media (max-width: $screen-sm-min) {
          display: block !important;
          width: 100% !important;
        }
      }

      .caption {
        margin-bottom: 15px;
        color: #a0a0a0;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.4px;
        display: inline-block;
        background-color: #fff;
        padding: 0px;
        position: relative;
        //top: -15px;
      }

      .img-responsive {
        margin: 0 auto;
        padding-bottom: 40px;
        @media (min-width: $screen-sm-min) {
          margin: 0;
          padding-bottom: 17px;
          padding-right: 40px;
        }
      }

      #game-prediction-text, .game-prediction-text {
        //font-size: 40px;
        //color: #000;
        //letter-spacing: -0.2px;
        //line-height: 1.12em;
        
        font-size: 18px;
        color: #222;
        margin-bottom: 40px;

        @media only screen and (max-width: 800px) {
          //font-size: 34px;
        }

        @media only screen and (max-width: 400px) {
          //font-size: 24px;
        }

      }

      .game-prediction-text-share {
        margin-top: 80px;
        margin-bottom: 40px;
        text-transform: uppercase;
      }

      #game-share-prediction {

        display: inline-block;
        //margin-top: 30px;
        //margin-bottom: 30px;

        .btn {
          display: inline-block;
          background-color: #5f7fa2;
          color: #fff;
          font-size: 15px;
          font-weight: bold;
          padding: 5px 25px 5px;
          @media only screen and (max-width: 400px) {
            font-size: 12px;
            padding: 10px 10px 10px 10px;
          }
          transition: opacity 300ms ease;
          opacity: 1;
          &:hover {
            opacity: 0.85;
          }
        }
        .icon {
          vertical-align: middle;
          display: inline-block;
          width: 40px;
          height: 40px;
          margin-right: 15px;
          background: url('/images/vk-new.png') no-repeat center center;
          background-size: contain;
          //background-size: 16px 19px;

          @media only screen and (max-width: 400px) {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background: url('/images/vk-new.png') no-repeat center center;
            background-size: contain;
            //background-size: 8px 10px;
          }
        }
      }

      .hint {
        position: relative;
        display: inline-block;
        top: 15px;
        background-color: #fff;
        font-size: 18px;
        padding: 0 10px;
      }
    }

    #game-play-again-button {
      color: #000;
      line-height: 50px;
    }

    #game-get-discount {
      font-size: 15px;
      line-height: 50px;
      font-weight: 600;
      padding: 0 15px;
      text-align: center;
      letter-spacing: 1.5px;
      outline: 0;
      height: 50px;
      vertical-align: top;
      text-transform: uppercase;
      background-color: $red2;
      display: inline-block;
      color: $white;

      &:hover {
        //color: #ccc;
        opacity: 0.9;
      }


      /*margin-top: 30px;
      display: inline-block;
      cursor: pointer;
      padding: 20px 40px;
      background-color: #c985a9;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      letter-spacing: 0.4px;
      cursor: pointer;
      transition: opacity 300ms ease;
      opacity: 1;
      &:hover {
        opacity: 0.85;
      }*/

    }

    .game-replay.caption {
      cursor: pointer;
      color: #b77a9a;
    }

  }

  // ******************************************
  // Code screen
  // ******************************************

  #game-code-screen {
    //position: absolute;
    //bottom: 100%;
    //left: 0;
    width: 100%;
    // height: 100%;
    background-color: #fff;
    //~transition: all 600ms ease;
    opacity: 0;
    display: none;
    z-index: 3;

    &.active {
      display: block;
      //bottom: 0;
      opacity: 1;
    }

    &.error .alert {
      opacity: 1;
      color: #ff6767;
    }

    &.error input, &.error input:focus {
      //background-color: #C98585 !important;
    }

    .hide-form {
      transition: opacity 300ms ease;
    }

    #game-submit-button {
      display: block;
    }

    #game-one-more-time {
      display: none;
    }

    &.hide-form-active {

      .hide-form {
        opacity: 0;
      }

      #game-submit-button {
        display: none;
      }

      #game-one-more-time {
        display: block;
      }
    }


    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 50px 40px;
    }

    .time {
      .caption, .game-time {
        color: #a0a0a0;
      }
    }

    .matches {
      .caption, .game-matches {
        color: #a0a0a0;

      }
    }

    .discount {
      .game-discount, .caption {
        color: #000;
      }

      .caption {
        font-size: 30px;
        @media only screen and (max-width: 500px) {
          font-size: 25px;
        }
      }

      .game-discount {
        font-size: 140px;
        @media only screen and (max-width: 500px) {
          font-size: 95px;
        }
      }
    }

    .discount:after {
      margin-top: -200px;
      width: 380px;
      height: 160px;
      background: url('/images/elements/flowers.png') no-repeat center center;
      background-size: contain;
      @media only screen and (max-width: 500px) {
        margin-top: -127px;
        width: 250px;
        height: 110px;
      }
    }

    .alert {
      font-size: 13px;
      margin-top: -21px;
      opacity: 0;
      transition: opactity 300ms ease;
    }



    .code {

      margin-top: 50px;
      padding-top: 35px;

      .columns {
        //border-top: 1px solid #000;
        //border-bottom: 1px solid #000;
        //border-right: 5px solid #000;
        //border-left: 5px solid #000;
      }

      .caption {
        display: inline-block;
        top: -18px;
        position: relative;
        color: #000;
        background-color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 0 10px;
      }

      input {
        box-shadow: none;
        //border-color: #c985a9;
        border-color: #d5d5d5;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        width: 95%;
        margin: 20px auto 30px;
        max-width: 400px;

        &:hover {
          border-color: #aeaeae;
        }

        &:focus {
          border-color: #333;
        }
      }

      .error input, .error input:focus {
        background-color: #C98585 !important;
      }



      input:focus {
        background-color: #fff;
        //background-color: rgba(201,133,169,0.2);
      }

      #game-prediction-text {
        font-size: 40px;
        color: #000;
        letter-spacing: -0.2px;
        line-height: 1.12em;
      }

      #game-share-prediction {

        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;

        .btn {
          display: inline-block;
          background-color: #5f7fa2;
          color: #fff;
          font-size: 15px;
          font-weight: bold;
          padding: 5px 25px 5px 5px;
        }
        .icon {
          vertical-align: middle;
          display: inline-block;
          width: 40px;
          height: 40px;
          margin-right: 15px;
          background-color: #fff;
        }
      }

      .hint {
        position: relative;
        display: inline-block;
        top: 15px;
        background-color: #fff;
        font-size: 15px;
        padding: 0 10px;
      }
    }

    .subscribe-checkbox {
      text-transform: none;
      margin: 20px 0;

      // input {
      //   -webkit-appearance: none;
      //   border: 1px solid #B77A9A;
      //   width: 12px;
      //   height: 12px;
      //   display: inline-block;
      //   margin: 0;
      // }
      //
      // input:active {
      //   background-color: #B77A9A;
      // }
    }

    .agreement-checkbox {
      text-transform: none;
      margin: -20px 0 10px;

      a {
        color: #222;
        text-decoration: underline;
      }
    }

    button, .replay-btn {
      display: inline-block;
      cursor: pointer;
      font-size: 30px;
      font-weight: bold;
      //background-color: #b77a9a;
      background-color: $red2;
      color: $white;
      letter-spacing: 0.4px;
      font-family: 'HeliosCond', sans-serif;
      text-transform: uppercase;
      &:hover {
        //color: #ccc;
        opacity: 0.9;
      }
    }

    .replay-btn {
      color: #fff;
      padding: 1rem 2rem 1.0625rem 2rem;
    }

    #game-replay-button .caption {
      color: #b77a9a;
      cursor: pointer;
    }

    #game-back-to-prediction {
      cursor: pointer;
      margin-bottom: 25px;
      .bck {
        font-size: 15px;
        font-weight: bold;
        color: #000;
        &:before {
          content: '';
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url('/images/elements/menu-arrow-black.png') no-repeat center center;
          background-size: contain;
          margin-right: 7px;
          position: relative;
          top: 3px;
        }
      }

      .capt {
        font-size: 15px;
        &:before {
          content: '';
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-right: 7px;
        }
      }
    }

  }

  // ******************************************
  // Lose screen
  // ******************************************

  #game-lose-screen {
    //position: absolute;
    //bottom: 100%;
    //left: 0;
    width: 100%;
    z-index: 3;
    // height: 100%;
    //background-color: rgba(201,133,169,0.9);
    background-color: rgba(255,255,255, 0.9);
    //~transition: all 600ms ease;
    opacity: 0;
    display: none;

    &.active {
      display: block;
      //bottom: 0;
      opacity: 1;
    }

    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 250px 0;
    }

    .container {

    }

    .caption {
      font-size: 15px;
    }

    h3 {

      color: #000;
    }
    h2 {
      color: #000;
      font-size: 60px;
      @media only screen and (max-width: 500px) {
        font-size: 35px;
      }
    }

    #game-replay-button {
      display: inline-block;
      font-size: 30px;
      font-weight: bold;
      background-color: $red2;
      padding: 20px 50px;
      //color: #c985a9;
      color: $white;
      text-transform: uppercase;
      transition: box-shadow 600ms ease;
      box-shadow: #fff 0 0 0px;
      cursor: pointer;
    }

    #game-replay-button:hover {
      //box-shadow: #c985a9 0 0 80px;
      opacity: 0.9;
    }

    #game-lose-button-close {
      position: absolute;
      display: inline-block;
      top: 50px;
      right: 50px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }

  }

  #game-final-screen {
    display: none;
    opacity: 0;
    height: 0;
    position: relative;
    //top: 17px;
    top: -52px;
    z-index: 3;



    position: absolute;
    top: -24px;
    z-index: 3;
    left: 0;
    width: 100%;

    &.active {
      display: block;
      opacity: 1;


    }

    h1 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

  }

}






section#lookbook, section#slider {


  margin-bottom: 100px;


  h2 {
    line-height: 1em;
  }

  .row.title {
    margin-bottom: 12px;
  }

  .container {
    position: relative;
  }

  .slider {
    background-color: #111;
  }

  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #000 url('/images/arrow-right.png') no-repeat center center;
    background-size: 10px;
  }

  .next-button {
    right: 0px;
  }

  .prev-button {
    background-image: url('/images/arrow-left.png');
    left: 0;
  }

  ul {
    margin-left: 0;
  }

  .slick-dots {
    display: none !important;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 25px;
  }

  .details {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;

    div {
      //background-color: #c985a9;
      background-color: #000;
      height: 100%;
      display: inline-block;
    }

    span {
      line-height: 50px;
      padding: 35px;
      color: #fff;

      font-size: 15px;
      letter-spacing: 0.4px;
    }
  }

  li {
    display: inline-block;
    margin: 0 14px;
    list-style: none;
    width: 6px;
    height: 6px;
    //background-color: #fff;
    background-color: #000;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    @media only screen and (max-width: 500px) {
      margin: 0 7px;
    }
  }

  li.slick-active {
    //background-color: #c985a9;
    background-color: #ae0101;
  }

  button {
    display: none;
  }
}

section#video {

  .row.title {
    margin-bottom: 10px;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; // from aspect ratio
    padding-top: 25px;
    margin-bottom: 30px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("/images/video_background.jpg") no-repeat center center;
      background-size: cover;
      text-align: center;
      transition: opacity 200ms ease;

      &.hidden {
        display: none;
      }

      &.fade-out {
        opacity: 0;
      }
    }

    .overlay:before {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }

    .button-play {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      transition: all 500ms ease;

      &.fade-out {
        opacity: 0;
        transform: scale(1.2, 1.2);
      }

      &:hover {
        .icon svg {
          fill: #fff;
        }

        p {
          color: #fff;
        }

      }

      .icon {
        width: 80px;
        height: 80px;
        display: inline-block;

        svg {
          transition: fill 100ms ease;
          fill: #fff;
        }
      }

      p {
        height: 0;
        margin: 0;
        line-height: 3em;
        color: #fff;
        transition: color 100ms ease;
      }
    }
  }

  .btn {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;

    transition: border 300ms ease;

    &:hover {
      border-right: 10px solid #fff;
      border-left: 10px solid #fff;
    }

    font-weight: bold;
    letter-spacing: 0.4px;
    padding: 18px 10px;
    font-size: 15px;
    color: #fff;

  }

}

section#store {

  margin-bottom: 30px;

  .logo {
    margin-top: 75px;
    margin-bottom: 50px;

    img {
      position: relative !important;
    }
  }

  .container {
    position: relative;
  }

  .image-wrapper {
    margin: 0 1px;
    position: relative;
  }

  .image-wrapper:hover .details {
    //background-color: #c985a9;
    //color: #000;
  }

  .placeholder {
    padding-bottom: 150%;
  }

  img {
    position: absolute;
  }



  a:hover {

    .details {
      background-color: rgba(174,0,0,.7);
    }
  }

  .details {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    line-height: 50px;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #fff;
    transition: all 300ms ease;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #fff url('/images/arrow-right-black.png') no-repeat center center;
    background-size: 10px;
  }

  .next-button {
    right: 0;
  }

  .prev-button {
    background-image: url('/images/arrow-left-black.png');
    left: 0;
  }

  .btn-big {

    margin: 50px 0;
    padding: 2px 20px 30px;

    transition: border 300ms ease;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 5px solid #000;
    border-left: 5px solid #000;

    color: #000;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      border-right: 15px solid #000;
      border-left: 15px solid #000;
    }

    .caption {
      display: inline-block;
      padding: 0 20px;
      background-color: #fff;
      position: relative;
      top: -17px;
      font-size: 15px;
      font-weight: normal;
    }
  }
}


footer {

  font-size: 13px;
  margin-bottom: 100px;

  /*.scroll-to-top {
    color: #bfbfbf;
    font-weight: bold;
    margin: 25px 0;
    cursor: pointer;
  }

  .scroll-to-top:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('/images/scroll-top.png') no-repeat center center;
    background-size: contain;
    margin-right: 3px;
    position: relative;
    top: 2px;
  }*/

  /*.social {
    font-weight: bold;
    .social-icons {
      margin-top: 10px;
    }
    .icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 2px;
      background: #2a2a2a;
      transition: opacity 150ms ease;
      opacity: 1;
    }

    .icon:hover {
      opacity: 0.8;
    }

    .ok {
      background: #000 url('/images/social/ok.png') no-repeat center center;
      background-size: 20px 20px;
    }
    .tw {
      background: #000 url('/images/social/tw.png') no-repeat center center;
      background-size: 20px 20px;
    }
    .fb {
      background: #000 url('/images/social/fb.png') no-repeat 4px 3px;
      background-size: 20px 20px;
    }
    .vk {
      background: #000 url('/images/social/vk.png') no-repeat center center;
      background-size: 20px 20px;
    }
    .yt {
      background: #000 url('/images/social/yt.png') no-repeat center center;
      background-size: 20px 20px;
    }
    .in {
      background: #000 url('/images/social/in.png') no-repeat center center;
      background-size: 20px 20px;
    }
  }*/


  .social-icons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 10px;

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 7px;

      a {
        display:block;
        border-radius: 50%;
        font-size: 16px;
        text-align: center;
        width:27px;
        height:27px;
        background: #000;

        &.vk {
          background-image:url('/images/icons/vk-new.png');
          background-position:4px center;
          background-repeat:no-repeat;
        }

        &.inst {
          background-image:url('/images/icons/follow.png');
          background-position:-57px -13px;
        }

        &.yt {
          background-image:url('/images/icons/follow.png');
          background-position: -200px -10px;
        }

        &.fb {
          background-image:url('/images/icons/follow.png');
          background-position: -9px -13px;
        }

        &.ok {
          background-image:url('/images/icons/follow.png');
          background-position: -106px -12px;
        }

        &:hover {
          opacity: 0.95;
        }
      }
    }
  }

  .deasign {
    color: #bfbfbf;
    margin: 25px 0;

    a {
      color: #bfbfbf;
    }
  }

}


.scroll-to-top {
  color: #bfbfbf;
  font-weight: bold;
  margin: 25px 0;
  cursor: pointer;
  font-size: 13px;
  position: fixed;
  left: 20px;
  bottom: 5px;
  z-index: 99;
}

.scroll-to-top:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url('/images/scroll-top.png') no-repeat center center;
  background-size: contain;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

.button {
  font-size: 12px;
  line-height: 36px;
  font-weight: 600;
  padding: 0 15px;
  text-align: center;
  letter-spacing: 1.5px;
  outline: 0;
  height: 36px;
  vertical-align: top;
  text-transform: uppercase;
  background-color: #333;
  display: inline-block;
  color: #fff;
  font-family: HeliosCond,sans-serif;

  &:hover {
    color: #ccc;
    background-color: #333;
  }
}

.h-gray {
  color: #333;
}

.h-black {
  color: #000;
}

.img-responsive {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.custom-medium-only-text-center {

  @media (max-width: $screen-sm-min) {
    text-align: center !important;

  }
}

.js-promo {
  margin: 20px auto 30px;
}

.js-screen {
  display: none;
  opacity: 0;
  /*position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;*/

  &.active {
    /*
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    z-index: 2;
    transition: opacity 2000ms ease;*/
    opacity: 1;
    display: block;
  }
}

.game-prediction-screen {
  &__share {
    margin-bottom: 40px;
  }
  &__get-discount {
    text-align: right;
    @media (min-width: $screen-sm-min) {
      text-align: center;

    }
  }
}

.h-mobile-fix {
  .columns {
    float: right !important;
    @media (max-width: $screen-sm-min) {
      float: none !important;
      width: 100%;
      text-align: center;
    }
    a {

      @media (max-width: $screen-sm-min) {
        display: inline-block;
      }

      &#game-play-again-button {
        @media (max-width: $screen-sm-min) {
          margin-top: 40px;
        }

      }
    }
  }
}