<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ og-title }}" />
  <meta property="og:url" content="{{ og-url }}" />
  <meta property="og:image" content="{{ og-image }}" />

  <title>Получай подарки с Concept Club!</title>

  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

  <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.min.css">
  <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/slick-carousel/slick/slick.css"/>

  <!--  Google Analytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70244620-1', 'auto');
  ga('send', 'pageview');
  </script>

  <!-- <script src="/bower_components/foundation/js/vendor/modernizr.js"></script> -->
  <script src="/js/modernizr.js"></script>

</head>
<body>

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PQZGL4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQZGL4');</script>
  <!-- End Google Tag Manager -->

  <section id="menu" class="">
    <div class="row">
      <div class="columns small-10 small-centered text-center caps">
        <div class="arrow" id="menu-arrow"></div>
        <!--<div class="mask"></div>-->
        <a href="#rules">Условия</a>
        <a href="#game">Новый образ</a>
        <a href="#lookbook">Lookbook 2017</a>
        <!--<a target="_blank" href="http://www.conceptclub.ru/vsya-odezhda">Рекомендации</a>-->
        <a href="#slider">Рекомендации</a>
        <a href="#store">Коллекция</a>
        <div class="to-store gotostore">
          <a target="_blank" href="http://www.conceptclub.ru/"><div class="btn">www.conceptclub.ru</div></a>
          <div class="caption">
            <!--Интернет-магазин женской одежды,обуви и аксессуаров.-->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="how-to-play" class="">
    <div class="row">
      <div class="columns small-12 text-right">
        <div class="how-to-play-close caps btn-small">Закрыть</div>
      </div>
      <div class="columns small-12">
        <h3>Правила игры</h3>
        <ol>

          <li>Не задумываясь, выбери три карты, которые понравятся тебе больше всего, чтобы определить  новый стиль.</li>
          <li>
            <p>Чтобы получить шанс выиграть один из 3 сертификатов на 10 000 рублей на покупки в интернет-магазине
            Concept Club, необходимо поделиться полученной рекомендацией по стилю во ВКонтакте и подписаться на группу Concept Club
              <a href="https://vk.com/conceptclubofficial" target="_blank">ВКонтакте</a></p>
            <p>Победитель будет определен методом случайных чисел среди участников, которые поделились полученной рекомендацией с хэштегом  <strong>#новыйобраз_conceptclub</strong> на своей странице ВКонтакте.</p>
            <p class="caption caps">РЕЗУЛЬТАТЫ КОНКУРСА БУДУТ ОБЪЯВЛЕНЫ В ГРУППЕ ВКОНТАКТЕ 28 сентября 2017 ГОДА</p>
          </li>
          <li>
            <p>Чтобы узнать о результатах конкурса первой  и получить скидку 10%   и бесплатную доставку от 1000 рублей,   укажи e-mail в специальном поле после  получения рекомендации по стилю.</p>
            <p>Скидку можно использовать в интернет-магазине
              <a href="http://www.conceptclub.ru/" target="_blank">www.conceptclub.ru</a>.
              Промокод на скидку будет отправлен на указанную электронную почту.</p>
            <p class="caption caps">
              <a href="http://www.conceptclub.ru/usloviya-akcii-concept-club" target="_blank">
                ЧИТАТЬ ПОДРОБНЫЕ УСЛОВИЯ  АКЦИИ
              </a>
            </p>
          </li>


        </ol>

        <!--<div class="btn caps how-to-play-close">Всё понятно</div>-->
      </div>
    </div>
  </section>

  <section class="fullscreen">
    <div class="container">
      <div class="cover-video" id="video-container">
        <!--<video autoplay loop id="video-cover">
          <source src="/images/gift.mp4" type="video/mp4">
          <source src="/images/gift.webm" type="video/webm">
          <source src="/images/gift.ogg" type="video/ogg">
        </video>-->
      </div>

      <header>
        <div class="row">
          <div class="small-2 medium-3 large-4 columns"><div class="nav"></div></div>

          <div class="small-8 medium-6 large-4 columns">
            &nbsp;
            <!--<div class="logo">
              <img src="/images/elements/logo.png" class="img-responsive"/>
            </div>-->
          </div>
          <div class="medium-3 large-4 columns show-for-large-up text-right">
            <a target="_blank" class="gotostore" href="http://www.conceptclub.ru/"><div class="store caps">Перейти в магазин</div></a>
          </div>
          <div class="small-2 columns hide-for-large-up"><a class="gotostore" target="_blank" href="http://www.conceptclub.ru/"><div class="store caps"></div></a></div>
        </div>
      </header>

      <div class="want-gift">
        <div class="row">
          <div class="small-12 medium-12 small-centered large-12 large-centered columns text-center">
            <div class="question">Хочешь найти свой стиль?</div>
            <div id="want-gift"class="answer">Играй в игру!</div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="main-content">
    <section id="rules">
      <div class="row">
        <div class="small-10 columns small-centered text-center">
          <h2 class="caps textured">Хочешь новый образ и 10 000 рублей на шопинг?</h2>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns large-centered text-center">
          <div class="container">
            <div class="how-to-before">Сделай три простых шага:</div>
            <div class="wrapper">
              <div class="steps">
                <div class="step"><span class="number">1</span><div class="item">Выбери 3 карты, которые понравятся тебе больше всего</div></div>
                <div class="step"><span class="number">2</span><div class="item">Получи рекомендации по стилю от Concept Club</div></div>
                <div class="step"><span class="number">3</span><div class="item">Поделись результатом на своей странице ВКонтакте</div></div>
              </div>
            </div>
            <div class="how-to-after">Узнай каких мужчин привлечет твой новый образ ☺</div>
          </div>
          <!-- <div class="pdf-link caps"><a target="_blank" href="/rules.pdf">Читать правила акции</a></div> -->
        </div>
      </div>
    </section>
    <section id="game">
      <div class="row">
        <div class="columns small-12">
          <div class="game">
            <div id="game-main-screen" class="js-screen active">

              <div class="row info">

                <div class="columns small-6 medium-2 large-1 small-only-text-left " style="display: none">
                  <div class="time caps" style="display: none">
                    <div class="caption">Время:</div>
                    <div id="game-time" class="game-time">:30</div>
                  </div>
                </div>

                <div class="columns small-6 medium-2 large-3 small-only-text-right" style="display: none">
                  <div class="matches caps" style="display: none">
                    <div class="caption">Совпадений:</div>
                    <div id="game-matches" class="game-matches">0</div>
                  </div>
                </div>

                <div class="columns small-12 medium-4 large-4 text-center" style="display: none">
                  <div class="discount caps" style="display: none">
                    <div class="caption caps">Ваша скидка</div>
                    <div id="game-discount" class="game-discount">0%</div>
                  </div>
                </div>

                <div class="columns small-12 medium-12 large-12 text-right small-only-text-center custom-medium-only-text-center">
                  <div id="game-info" class="caption caps">Как играть</div>
                </div>
              </div>

              <div class="help" id="game-help">Выбери три образа, которые нравятся тебе больше всего</div>

              <div class="row" id="cards-placeholder"></div>
              <div class="play-button-wrapper"><div id="game-play-button" class="caps js-start-game">Выбрать</div></div>
            </div>


            <div id="game-lose-screen" class="js-screen ">
              <div class="wrapper">
                <div class="row container">
                  <div class="columns small-10 small-centered text-center">
                    <div class="caption caps">
                      <!--Увы, время закончилось-->
                      &nbsp;
                    </div>
                    <h3 class="caps">увы, карты с образами не выбраны</h3>
                    <h2 class="caps">ВЫБРАТЬ 3 КАРТЫ ЕЩЕ РАЗ?</h2>
                    <div id="game-replay-button">Да!</div>
                  </div>
                </div>
                <!-- <div id="game-lose-button-close" class="close-button"><div class="icon"></div>Закрыть</div> -->
              </div>
            </div>


            <div id="game-prediction-screen" class="js-screen ">
              <div class="wrapper">
                <div class="row info" style="display: none">

                  <div class="columns small-6 medium-2 large-1 small-only-text-left">
                    <div class="time caps">
                      <div class="caption">Время:</div>
                      <div id="game-result-time" class="game-time">:0</div>
                    </div>
                  </div>

                  <div class="columns small-6 medium-2 large-3 small-only-text-right">
                    <div class="matches caps">
                      <div class="caption">Совпадений:</div>
                      <div id="game-result-matches" class="game-matches">0</div>
                    </div>
                  </div>

                  <div class="columns small-12 medium-4 large-4 text-center">
                    <div class="discount caps">
                      <div class="caption caps">Ваша скидка</div>
                      <div id="game-result-discount" class="game-discount">0%</div>
                    </div>
                  </div>

                  <div class="columns small-12 medium-4 large-4 text-right small-text-center">
                    <div>
                      <div class="game-replay caption caps">Играть еще раз</div>
                    </div>
                  </div>
                </div>

                <div class="row title">
                  <div class="columns small-10 small-centered text-center">
                    <!--<h2 class="caps">Поделись предсказанием и&nbsp;получи шанс выиграть главный приз</h2>-->

                    <h2 class="js-title caps active" data-type="A">ТЫ - СПОРТИВНАЯ ШТУЧКА </h2>
                    <h2 class="js-title caps" style="display: none;" data-type="B">ТЫ - НАСТОЯЩАЯ ЛЕДИ </h2>
                    <h2 class="js-title caps" style="display: none;" data-type="C">ТЫ - ХРУПКАЯ МЕЧТАТЕЛЬНИЦА</h2>
                    <h2 class="js-title caps" style="display: none;" data-type="D">ТЫ - РОКОВАЯ КРАСОТКА</h2>

                  </div>
                </div>
                <div class="row prediction">
                  <div class="columns small-6">
                    <img src="/images/results/result-A.jpg" data-type="A" class="img-responsive js-result" />
                    <img src="/images/results/result-B.jpg" data-type="B" style="display: none;" class="img-responsive js-result" />
                    <img src="/images/results/result-C.jpg" data-type="C" style="display: none;" class="img-responsive js-result" />
                    <img src="/images/results/result-D.jpg" data-type="D" style="display: none;" class="img-responsive js-result" />
                  </div>
                  <div class="columns small-6">
                    <!--<div class="caption caps">Ваше предсказание</div>-->

                    <span class="js-type-text active" data-type="A">
                      <p class="game-prediction-text">
                        Вещи в спортивном стиле – находка для твоего гардероба в новом сезоне! Экспериментируй с непривычными для себя сочетаниями:  попробуй надеть свободные брюки в паре с женственной блузкой,  а элегантную юбку - с кедами.
                      </p>
                      <p class="game-prediction-text">
                        Твой новый образ не останется незамеченным для сильных и решительных мужчин, которые предпочитают экстремальные виды спорта и энергичных девушек. Ты можешь встретить его в спортзале или во время прогулки в парке. И приготовься, ведь каждый день рядом с ним — яркое приключение!
                      </p>
                    </span>

                    <span class="js-type-text active" style="display: none;" data-type="B">
                      <p class="game-prediction-text">
                        Экстравагантные образы не для тебя? В этом сезоне примерь «новую классику», которая подчеркнет твой утонченный вкус. Сочетание юбки-карандаша и пиджака пастельного оттенка, удлиненного кардигана и классических брюк, привнесет элегантного шика в твой гардероб.
                      </p>
                      <p class="game-prediction-text">
                        Новый образ обратит на тебя взоры деловых мужчин, которые спешат на бизнес-встречи. Ни в коем случае не отказывайся, если симпатичный джентльмен в костюме пригласит тебя на чашечку кофе во время обеденного перерыва.
                      </p>
                    </span>
                    <span class="js-type-text" style="display: none;" data-type="C">
                      <p class="game-prediction-text">
                        Предпочитаешь романтичные наряды? Новый сезон – отличный повод примерить женственные платья с цветочным принтом, кружевные блузки и классические пальто глубокого оттенка. Акцентом твоего образа станут сияющие аксессуары и обувь на каблуке.
                      </p>
                      <p class="game-prediction-text">
                        Похоже, что твой мужчина должен быть настоящим принцем. Среди его достоинств – романтичность, надежность и умение совершать красивые поступки. Ты можешь встретить его на выставке в галерее или театре. Чтобы очаровать его, достаточно будет лишь улыбнуться ему в ответ!
                      </p>
                    </span>
                    <span class="js-type-text" style="display: none;" data-type="D">
                      <p class="game-prediction-text">
                        Не боишься экспериментировать и быть яркой? В новом сезоне твоим модным оружием станут алые оттенки, платья, подчеркивающие фигуру и необычный крой. Дополни образ роскошными аксессуарами с позолотой и  туфельками на шпильке.
                      </p>
                      <p class="game-prediction-text">
                        Безусловно, ты станешь центром внимания любой вечеринки или модного концерта. Тебе останется лишь выбрать самого лучшего мужчину из множества поклонников, который будет готов завоевывать тебя оригинальными подарками и сумасшедшими поступками.
                      </p>
                    </span>



                    <div class="text-center">
                      <p class="game-prediction-text game-prediction-text-share"><strong>Поделись результатом и получи шанс выиграть 10 000 рублей на&nbsp;шопинг</strong></p>
                      <div class="game-prediction-screen__share">
                        <a id="game-share-prediction" href="javascript:;"><div class="caps btn">
                          <div class="icon"></div>Поделиться с друзьями</div>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row h-mobile-fix">
                  <div class="columns small-6 game-prediction-screen__get-discount">
                    <a href="javascript:;" id="game-get-discount">Получить скидку</a>
                  </div>
                  <div class="columns small-6">
                    <a href="javascript:;" id="game-play-again-button" class=" js-start-game h-small" data-href="#game">Играть еще раз</a>
                  </div>
                </div>

              </div>
            </div>

            <div id="game-code-screen" class="js-screen ">
              <div class="wrapper">
                <div class="row info">

                  <div class="columns small-12 large-centered medium-centered text-center">
                    <div class="discount caps">
                      <div class="caption caps">Скидка</div>
                      <div id="game-code-discount" class="game-discount">10%</div>
                      <div class="caption caps">и бесплатная доставка</div>
                    </div>
                  </div>

                </div>

                <form action="javascript:void(0)">
                  <div class="row code">
                    <div class="columns large-10 medium-10 small-centered text-center" style="position: relative">

                      <div id="game-final-screen" class="">


                        <!--

                        UPD Шаг 3 - После подписки
Текст в графической рамке: CКИДКА 10% И БЕСПЛАТНАЯ ДОСТАВКА
Текст ниже:    ТВОЙ ПРОМОКОД:                                  000-000-000 Условия применения кода были отправлены на указанный e-mail вместе с  рекомендацией по стилю.
Кнопка: Посмотреть все образы (с якорем на шаг 4 –все образы)

-->

                        <h1 class="caps">ТВОЙ ПРОМОКОД:</h1>
                        <h2 class="caps js-promo">0000-0000-0000</h2>
                        <p class="caps" style="color: #000;font-weight: bold">Условия применения кода были отправлены на указанный e-mail вместе с  рекомендацией по стилю.</p>


                      </div>

                      <div class="caption caps js-hide-on-end">Чтобы узнать результаты конкурса первой и получить скидку, оставь свой e-mail</div>
                      <input class="hide-form" id="game-data-email" type="text" name="email">
                      <div class="alert">Пожалуйста, введите правильный e-mail.</div>
                      <div class="hint hide-form">
                        <!--Нажимая на кнопку, вы подтверждаете, что принимаете правила-->
                        &nbsp;
                      </div>

                    </div>
                  </div>

                  <div class="row discount-button">
                    <div class="columns small-12 text-center caps hide-form">
                      <div class="subscribe-checkbox">
                        <input id="game-data-subscribe" type="checkbox" name="subscribe" value="male" checked>
                        Подписаться на новости и скидки
                      </div>
                      <div class="agreement-checkbox">
                        <input id="game-data-agreement" type="checkbox" name="agreement" checked>
                          Принимаю пользовательское
                          соглашение
                          <a target="_blank"
                             href="https://www.conceptclub.ru/polzovatelskoe-soglashenie-o-konfidencialnosti" >
                              о конфиденциальности
                          </a>
                      </div>
                    </div>
                    <div class="columns small-12 large-4 text-center large-text-left hide-form">
                      <div id="game-back-to-prediction">
                        <div class="bck caps">Вернуться</div>
                        <div class="capt">Чтобы поделиться рекомендацией по стилю</div>
                      </div>
                    </div>
                    <div class="columns small-12 large-4 text-center end caps">
                      <div id="game-submit-button">
                        <button type="submit">Получить скидку</button>
                      </div>

                      <div id="game-one-more-time" class="js-no-replay">
                        <!--<div class="replay-btn">Играть еще раз</div>-->
                        <div class="js-scroll replay-btn" data-href="#slider" style="font-size: 18px;">Посмотреть все образы</div>
                        <p>&nbsp;</p>
                      </div>

                    </div>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section id="slider">
      <div class="row title">
        <div class="small-10 columns small-centered text-center">
          <h2 class="caps textured">РЕКОМЕНДАЦИИ ПО СТИЛЮ</h2>
          <p class="h-gray">Роковая красотка или хрупкая мечтательница? Будь разной с Concept Club</div>
      </div>

      <div class="row">
        <div class="large-10 columns large-centered text-center">
          <div class="container">
            <div class="slider">
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz1.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz2.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz3.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz4.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz5.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz6.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz7.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz8.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz9.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/gallery/obraz10.jpg" src=""></div>
            </div>
            <div class="prev-button"></div>
            <div class="next-button"></div>
          </div>
        </div>
      </div>

      <!--<div class="row">
        <div class="small-12 large-10 columns small-centered text-center">
          <div class="video-wrapper">
            <div id="youtube-player" data-youtube-id="hPB5redEvmA"></div>
            <div class="overlay">
              <div class="button-play">
                <div class="icon">
                  <svg version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                x="0px" y="0px" viewBox="0 0 493.8 493" enable-background="new 0 0 493.8 493"
                xml:space="preserve">
                <g>
                  <path d="M246.1,0C110.2,0,0,110.2,0,246.1S110.2,493,246.9,493c135.9,0,246.9-110.2,246.9-246.9C493,110.2,382.8,0,246.1,0zM246.1,468.8c-121.9,0-221.9-100-221.9-222.7S123.4,24.2,246.1,24.2s222.7,100,222.7,221.9C468.8,368.8,368.8,468.8,246.1,468.8z"/>
                  <polygon points="192.2,369.5 377.3,246.9 192.2,123.4 "/>
                </g>
                </svg>
                </div>
                <p>Смотреть видео</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row title">
        <div class="small-12 medium-4 large-3 columns small-centered text-center">
          <a class="gotostore" target="_blank" href="http://www.conceptclub.ru/catalog/view/115/exp">
            <div class="btn caps">Вся коллекция</div>
          </a>
        </div>
      </div>-->
    </section>

    <section id="lookbook">
      <div class="row title">
        <div class="small-10 columns small-centered text-center">
          <h2 class="caps textured">Lookbook</h2>
          <h3 class="caps h-black">Осень / Зима 2017</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-10 columns large-centered text-center">
          <div class="container">
            <div class="slider">
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look1.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look2.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look3.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look4.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look5.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look6.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look7.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look8.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look9.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look10.jpg" src=""></div>
              <div class="image-wrapper"><img data-lazy="/images/lookbook/look11.jpg" src=""></div>
            </div>
            <div class="prev-button"></div>
            <div class="next-button"></div>
            <a target="_blank" class="details gotostore" href="https://www.conceptclub.ru/novye-obrazy"><div><span class="caps">Смотреть подробнее</span></div></a>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section id="store">
    <div class="row">
      <div class="small-10 small-centered large-6 columns">
        <div class="logo">
          <img src="/images/elements/logo.png" class="img-responsive"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns large-centered text-center">
        <div class="container">
          <div class="slider">
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/zhakety/zhaket-krasnyj-krasnyj-10200130110"><div class="placeholder"><img data-lazy="/images/products/10200130110___Setto___красный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/dzhempery/dzhemper-belyj-belyj-10200100132"><div class="placeholder"><img data-lazy="/images/products/10200100132___Kokotka___белый.jpg "></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/zhakety/zhaket-chernyj-chernyj-10200130100"><div class="placeholder"><img data-lazy="/images/products/10200130100___Toddo___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/bluzki/bluzka-belaya-belyj-10200260173"><div class="placeholder"><img data-lazy="/images/products/10200260173___Avon___белый.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href=" https://www.conceptclub.ru/bluzki/bluzka-chernaya-chernyj-10200110263"><div class="placeholder"><img data-lazy="/images/products/10200110263___Lacun___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/platya/plate-chernoe-chernyj-10200200345"><div class="placeholder"><img data-lazy="/images/products/10200200345___Elf___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/platya/plate-chernoe-chernyj-10200200340"><div class="placeholder"><img data-lazy="/images/products/10200200340___Resso___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/bluzki/bluzka-belaya-belyj-10200260157"><div class="placeholder"><img data-lazy="/images/products/10200260157___Orlando___белый.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/verhnyaya-odezhda/kurtka-chernaya-chernyj-10200130109"><div class="placeholder"><img data-lazy="/images/products/10200130109___Hadio___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/bluzki/bluzka-nabivnaya-nabivka-10200260160"><div class="placeholder"><img data-lazy="/images/products/10200260160___Moss___набивка.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/platya/plate-chernoe-chernyj-10200200346"><div class="placeholder"><img data-lazy="/images/products/10200200346___Patric___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/zhilety/zhilet-chernyj-chernyj-10200400023"><div class="placeholder"><img data-lazy="/images/products/10200400023___Fano___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/dzhempery/dzhemper-krasnyj-krasnyj-10200100124"><div class="placeholder"><img data-lazy="/images/products/10200100124___Gesper___красный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href=" https://www.conceptclub.ru/bluzki/bluzka-cvetnaya-cvetnoj-10200110263"><div class="placeholder"><img data-lazy="/images/products/10200110263___Lacun___цветной.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href=" https://www.conceptclub.ru/verhnyaya-odezhda/kurtka-chernaya-chernyj-10200130098"><div class="placeholder"><img data-lazy="/images/products/10200130098___Foggia___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/platya/plate-krasnoe-krasnyj-10200200335"><div class="placeholder"><img data-lazy="/images/products/10200200335___Helle___красный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/platya/plate-chernoe-chernyj-10200200339"><div class="placeholder"><img data-lazy="/images/products/10200200339___Ash___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/platya/plate-cvetnoe-cvetnoj-10200200346"><div class="placeholder"><img data-lazy="/images/products/10200200346___Patric___цветной.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/bluzki/bluzka-belaya-belyj-10200260172"><div class="placeholder"><img data-lazy="/images/products/10200260172___Patty___белый.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/dzhempery/dzhemper-chernyj-chernyj-10200100134"><div class="placeholder"><img data-lazy="/images/products/10200100134___Tora___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/bluzki/bluzka-bodi-belaya-belyj-10200110264"><div class="placeholder"><img data-lazy="/images/products/10200110264___Bodik___белый.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/dzhempery/dzhemper-krasnyj-krasnyj-10200310107"><div class="placeholder"><img data-lazy="/images/products/10200310107___Hazel___красный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/verhnyaya-odezhda/palto-chernoe-chernyj-10200610035"><div class="placeholder"><img data-lazy="/images/products/10200610035___Emelda___черный.jpg"></div><div class="details caps">Смотреть</div></a></div>
            <div class="image-wrapper"><a target="_blank" href="https://www.conceptclub.ru/verhnyaya-odezhda/palto-seroe-seryj-10200610028"><div class="placeholder"><img data-lazy="/images/products/10200610028___Carulla-1___серый.jpg"></div><div class="details caps">Смотреть</div></a></div>
          </div>
          <div class="prev-button"></div>
          <div class="next-button"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered medium-8 large-6 columns text-center">
        <a target="_blank" class="gotostore" href="http://www.conceptclub.ru/">
          <div class="btn-big">
            <div class="caption">Интернет-магазин женской одежды, обуви и аксессуаров</div>
            WWW.CONCEPTCLUB.RU
          </div>
        </a>
      </div>
    </div>
  </section>

  <footer>
    <div class="row">
      <div class="columns small-12 large-4 large-text-left small-text-center">
          &nbsp;
      </div>
      <div class="columns small-12 large-4 text-center">
        <div class="social">
          <div class="caption caps">Следите за нами</div>
          <!--<div class="social-icons">
            <a target="_blank" href="https://vk.com/conceptclubofficial"><div class="icon vk"></div></a>
            <a target="_blank" href="https://www.facebook.com/ConceptClub"><div class="icon fb"></div></a>
            <a target="_blank" href="http://ok.ru/conceptclubofficial"><div class="icon ok"></div></a>
            <a target="_blank" href="https://www.instagram.com/concept_club/"><div class="icon in"></div></a>
            <a target="_blank" href="http://www.youtube.com/user/ConceptClubOfficial"><div class="icon yt"></div></a>
            <a target="_blank" href="https://twitter.com/Concept_Club"><div class="icon tw"></div></a>
          </div>-->

            <ul class="social-icons">
                <li><a target="_blank" rel="nofollow" href="//vk.com/conceptclubofficial" target="_blank" class="vk"></a></li>
                <li><a target="_blank" rel="nofollow" href="//instagram.com/concept_club" target="_blank" class="inst"></a></li>
                <li><a target="_blank" rel="nofollow" href="//www.youtube.com/user/ConceptClubOfficial" target="_blank" class="yt"></a></li>
                <li><a target="_blank" rel="nofollow" href="//www.facebook.com/ConceptClub" class="fb"></a></li>
                <li><a target="_blank" rel="nofollow" href="//www.odnoklassniki.ru/conceptclubofficial" target="_blank" class="ok"></a></li>
            </ul>
        </div>
      </div>
      <div class="columns small-12 large-4 large-text-right text-right small-text-center deasign">
        &nbsp;
      </div>
    </div>
  </footer>


  <script src="/bower_components/foundation/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.min.js"></script>
  <script src="/bower_components/foundation//js/vendor/fastclick.js"></script>
  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/bower_components/underscore/underscore-min.js"></script>
  <script src="/js/data.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $(document).foundation();
  </script>


  <div class="scroll-to-top caps">Наверх</div>
</body>
</html>
