<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Получай подарки с Concept Club!</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="/bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="css/styles.css">
    <style>
      * {
        color: #000 !important;
      }

      h1 {
        text-align: center;
        font-size: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      h3 {
        margin-top: 30px;
      }

      a {
        color: #c985a9 !important;
      }

      .logo {
        margin: 50px 0;
      }

      .goto {
        font-size: 13px;
        margin: 50px 0;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="columns small-8 large-4 medium-4 small-centered">
        <div class="logo"></div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12 large-8 large-centered">
        <h1>ПРАВИЛА ПРОВЕДЕНИЯ АКЦИИ<br>&laquo;Новогодние предсказания и&nbsp;подарки от&nbsp;Concept club&raquo;<br>(далее&nbsp;&mdash; Правила)</h1>

        <h3>1. ОСНОВНЫЕ ПОЛОЖЕНИЯ</h3>
        <p>1.1. Организатором акции &laquo;Новогодние предсказания и&nbsp;подарки от&nbsp;Concept club&raquo; (далее&nbsp;&mdash; Акция) является OOО &laquo;Концепт Груп&raquo;, юридический адрес: 197101&nbsp;г. Санкт-Петербург ул. Большая Монетная, д.&nbsp;16, корп.1, лит. Б. (далее&nbsp;&mdash; &laquo;Организатор&raquo;).</p>
        <p>1.2. Территория проведения Акции&nbsp;&mdash; Российская Федерация.</p>
        <p>1.3. Период проведения Акции: с&nbsp;00&nbsp;часов 00&nbsp;минут (время московское) 3&nbsp;декабря 2015&nbsp;г. по&nbsp;00&nbsp;часов 00&nbsp;минут (время московское) 20&nbsp;декабря 2015&nbsp;г. включительно.</p>
        <p>1.4. Период выполнения условий Акции&nbsp;&mdash; с&nbsp;00&nbsp;часов 00&nbsp;минут (время московское) 3&nbsp;декабря 2015&nbsp;г. по&nbsp;00&nbsp;часов 00&nbsp;минут (время московское) 18&nbsp;декабря 2015&nbsp;г.</p>

        <h3>2. ПРИЗОВОЙ ФОНД АКЦИИ</h3>
        <p>2.1. Общий Призовой фонд Акции составляют10 подарочных коробок, каждая из&nbsp;которых содержит по&nbsp;5&nbsp;штук аксессуаров, 2&nbsp;упаковки конфет, 1&nbsp;елочную игрушку.</p>
        <p>2.2. Призовой фонд Акции образуется за&nbsp;счет средств Организатора Акции, формируется отдельно и&nbsp;используется исключительно для предоставления призов участникам Акции.</p>
        <p>2.3. Замена призов другими призами и&nbsp;денежными средствами не&nbsp;производится.</p>
        <p>2.4. Общее количество Победителей ограничено Призовым фондом Акции, указанным в&nbsp;п.&nbsp;2.1 настоящих Правил и&nbsp;не&nbsp;может быть более 10&nbsp;человек.</p>

        <h3>3. ПОРЯДОК УЧАСТИЯ</h3>
        <p>3.1. В&nbsp;Акции могут принимать участие граждане Российской Федерации, достигшие 14-летнего возраста, проживающие на&nbsp;территории Российской Федерации.</p>
        <p>3.2. К&nbsp;участию в&nbsp;Акции не&nbsp;допускаются работники и&nbsp;представители Организатора Акции.</p>
        <p>3.3. Лица, не&nbsp;соответствующие требованиям, предъявляемым к&nbsp;участникам настоящей Акции, не&nbsp;имеют права на&nbsp;участие в&nbsp;Акции и&nbsp;получение приза.</p>
        <p>3.4. Для того чтобы стать участником Акции, претендующим на&nbsp;получение приза, необходимо в&nbsp;период, установленный п.&nbsp;1.4. настоящих Правил, поделиться полученным в&nbsp;сети Интернет по&nbsp;адресу <a href="http://www.magic.conceptclub.ru" target="_blank">www.magic.conceptclub.ru</a> предсказанием на&nbsp;своей странице в&nbsp;социальной сети &laquo;Вконтакте&raquo; и&nbsp;не&nbsp;удалять запись до&nbsp;окончания периода проведения Акции, указанного в&nbsp;п.&nbsp;1.3. настоящих Правил.</p>

        <h3>￼4. ПРАВА И&nbsp;ОБЯЗАННОСТИ УЧАСТНИКОВ АКЦИИ</h3>
        <p>￼4.1. Участники Акции обязаны выполнять все действия, связанные с&nbsp;участием в&nbsp;Акции и&nbsp;получением ￼Призов, в&nbsp;установленные настоящими Правилами сроки. ￼</p>
        <p>4.2. О&nbsp;прекращении проведения Акции Организатор Акции уведомляет в&nbsp;группе бренда Concept Club в&nbsp;социальной сети &laquo;Вконтакте&raquo; по&nbsp;адресу <a href="https://vk.com/conceptclubofficial" target="_blank">vk.com/conceptclubofficial</a> и&nbsp;в&nbsp;сети Интернет по&nbsp;адресу <a href="http://www.magic.conceptclub.ru" target="_blank">www.magic.conceptclub.ru</a>.</p>
        <p>4.3. Победитель, подтверждает свое согласие Организатору на&nbsp;обработку, включая сбор, хранение, использование и&nbsp;распространение своих персональных данных для целей Акции.</p>
        <p>4.4. Организатор Акции не&nbsp;несет ответственности за&nbsp;ошибки/сбои при передаче данных через Интернет по&nbsp;вине организаций связи, в&nbsp;результате технических проблем и/или мошенничества в&nbsp;сети Интернет и/или в&nbsp;каналах связи, используемых при проведении Акции, а&nbsp;также по&nbsp;иным причинам, не&nbsp;зависящим от&nbsp;Организатора.</p>
        <p>4.5. Организатор вправе в&nbsp;одностороннем порядке вносить изменения в&nbsp;Правила, при условии размещения информации об&nbsp;изменениях в&nbsp;Правилах (вместе с&nbsp;новой редакцией Правил) в&nbsp;соответствии с&nbsp;п.&nbsp;7.2. настоящих Правил не&nbsp;позднее, чем за&nbsp;2 (два) дня до&nbsp;даты введения изменений в&nbsp;действие.</p>
        <p>4.6. Организатор не&nbsp;несёт ответственности перед участниками, в&nbsp;том числе перед лицами, признанными обладателями призов Акции, в&nbsp;следующих случаях:</p>
        <p>4.6.1. несвоевременного уведомления участника о&nbsp;признании его обладателем приза по&nbsp;причине, не&nbsp;зависящей от&nbsp;Организатора;</p>
        <p>4.6.2. наступления форс-мажорных обстоятельств, непосредственно влияющих на&nbsp;выполнение Организатором своих обязательств и&nbsp;делающих невозможным их&nbsp;исполнение Организатором, включая наводнения, пожары, забастовки, землетрясения или другие природные факторы; массовые эпидемии; распоряжения государственных органов, и&nbsp;другие, не&nbsp;зависящие от&nbsp;Организатора объективные причины;</p>
        <p>4.6.3. неисполнения (несвоевременное исполнения) участниками своих обязанностей, предусмотренных настоящими Правилами;</p>
        <p>4.6.4. за&nbsp;действия (бездействия), а&nbsp;также ошибки участников Акции, включая предоставление участниками недостоверных данных или данных, содержащих ошибки.</p>

        <h3>5. ПОРЯДОК ОПРЕДЕЛЕНИЯ ПОБЕДИТЕЛЕЙ</h3>
        <p>5.1. Определение обладателей призов (далее&nbsp;&mdash; победителей) проводится в&nbsp;срок с&nbsp;00&nbsp;часов 00&nbsp;минут (время московское) 18&nbsp;декабря 2015&nbsp;г. по&nbsp;00&nbsp;часов 00&nbsp;минут (время московское) 19&nbsp;декабря 2015&nbsp;г., среди всех участников Акции.</p>
        <p>5.2. Процедура определения победителей осуществляется при помощи случайного выбора номеров id&nbsp;участников Акции.</p>
        <p>5.3. Результаты проведения процедуры определения победителей Акции публикуются в&nbsp;группе бренда Concept Club в&nbsp;социальной сети &laquo;Вконтакте&raquo; по&nbsp;адресу <a href="https://vk.com/conceptclubofficial" target="_blank">vk.com/conceptclubofficial</a> в&nbsp;срок до&nbsp;00&nbsp;часов 00&nbsp;минут (время московское) 20&nbsp;декабря 2015&nbsp;года.</p>
        <p>5.4. Участники Акции самостоятельно отслеживают результаты проведения Акции.</p>

        <h3>6. ПОРЯДОК И&nbsp;СРОКИ ПОЛУЧЕНИЯ ПРИЗА</h3>
        <p>6.1. Призы вручаются победителям путем доставки почтой/курьером.</p>
        <p>6.2. Победителям, необходимо в&nbsp;срок до&nbsp;30&nbsp;декабря 2015 года связаться с&nbsp;Организатором (написав личное сообщение &laquo;Вконтакте&raquo; Татьяне Петровой <a href="https://vk.com/id11733305" target="_blank">https://vk.com/id11733305</a>) и&nbsp;предоставить следующие сведения: фамилию, имя, отчество и&nbsp;адрес, на&nbsp;который будет доставлен приз.</p>
        <p>6.3. В&nbsp;случае если победитель не&nbsp;связался с&nbsp;Организатором или отказался от&nbsp;получения приза до&nbsp;30&nbsp;декабря 2015&nbsp;года, а&nbsp;также в&nbsp;случае, если победителем предоставлены недостоверные данные и/или данные с&nbsp;ошибками, в&nbsp;результате чего Организатор не&nbsp;смог надлежащим образом вручить Приз, Приз считается невостребованным Участником.</p>
        <p>6.4. Организатор не&nbsp;несёт ответственности в&nbsp;случае, если победитель Акции не&nbsp;получил приз в&nbsp;порядке, установленном настоящими Правилами, по&nbsp;причинам, не&nbsp;связанным с&nbsp;выполнением Организатором своих обязанностей.</p>

        <h3>7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h3>
        <p>7.1. Факт участия в&nbsp;Акции означает согласие с&nbsp;настоящими Правилами.</p>
        <p>7.2. Участники Акции информируются об&nbsp;условиях проведения Акции путем размещения соответствующей информации в&nbsp;сети Интернет на&nbsp;сайте <a target="_blank" href="http://www.magic.conceptclub.ru">www.magic.conceptclub.ru</a></p>
      </div>
    </div>
    <div class="row">
      <div class="columns small-8 large-4 medium-4 small-centered text-center">
        <div class="goto"><a target="_blank" href="http://www.conceptclub.ru/">www.conceptclub.ru</a></div>
      </div>
    </div>
  </body>
</html>
